.background1{
	background:url(../images/silho.jpg) top no-repeat fixed;
	-webkit-background-size: 100% 100%;
	width: 1350px; height:670px;
	margin:-8px 0px -20px -8px;
	}
.background2{
	background:url(../images/city.jpg) top no-repeat fixed;
	-webkit-background-size: 100% 100%;
	width: 1350px; height:710px;
	margin:-8px 0px -20px -8px;
	}
.background3{
	background:url(../images/green_grass.jpg) top no-repeat fixed;
	-webkit-background-size: 100% 100%;
	width: 1350px; height:710px;
	margin:-8px 0px -20px -8px;
	padding-bottom:70px;
	}
.background4{
	background:url(../images/background4.jpg) top no-repeat fixed;
	-webkit-background-size: 100% 100%;
	width: 1350px; height:710px;
	margin:-8px 0px -20px -8px;
	}
.background1 header{
	background:url(../images/logo.png) top no-repeat fixed;
}
.background1 header img{
	display:block;
	margin:0px auto 0px auto;
	padding:300px 0 121px 0;
	}
.background2 header{
	margin:0px auto 100px auto;
	padding-top:100px;
	width:980px;
}
.background2 header article{
	background:url(../images/back.jpg);
	width: 380px;
	padding:10px 5px 10px 5px;
	}
.background2 header span{
	color:#FFF;
	font-family:forte;
	font-size:50px;
	padding: 20px;
	}
.background2 article p{
	color:#FFF;
	font-family:georgia;
	font-size:14px;
	padding:20px;
	}
.background2 ol{
	color:#fff;
}
.background2 nav{
	position:relative;
	float:right;
	margin-top:-320px;
}
.background2 nav audio{
	width:450px;
}
.background3 header{
	margin:0px auto 100px auto;
	padding-top:100px;
	
	width:980px;
}
.background3 header article{
	background:url(../images/back.jpg);
	width: 380px;
	padding:20px 9px 20px 9px;
	}
.background3 header h1{
	color:#FFF;
	font-family:forte;
	font-size:40px;
	padding: 20px;
	}
.background3 nav{
	position:relative;
	float:right;
	margin-top:-500px;
}
.background4 img{
	display:block;
	margin:0px auto 0px auto;
	padding:280px;
}
.art
{
	color:white;
	text-align:justify;
	
}