.base{
	background:url(../images/silho.jpg) top no-repeat fixed;
	-webkit-background-size: 100% 100%;
	width: 1350px; height:1700px;
	margin:-8px 0px -20px -8px;
	background: rgba(141,200,240,1);
	background: -moz-linear-gradient(top, rgba(141,200,240,1) 0%, rgba(239,197,202,1) 72%, rgba(239,197,202,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(141,200,240,1)), color-stop(72%, 	  rgba(239,197,202,1)), color-stop(100%, rgba(239,197,202,1)));
	background: -webkit-linear-gradient(top, rgba(141,200,240,1) 0%, rgba(239,197,202,1) 72%, rgba(239,197,202,1) 100%);
	background: -o-linear-gradient(top, rgba(141,200,240,1) 0%, rgba(239,197,202,1) 72%, rgba(239,197,202,1) 100%);
	background: -ms-linear-gradient(top, rgba(141,200,240,1) 0%, rgba(239,197,202,1) 72%, rgba(239,197,202,1) 100%);
	background: linear-gradient(to bottom, rgba(141,200,240,1) 0%, rgba(239,197,202,1) 72%, rgba(239,197,202,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dc8f0', endColorstr='#efc5ca', GradientType=0 );
	}
#logo
{
	float:left;
}
#logo-foot
{
	margin-top:-25px;
	float:left;
	color:white;
}
.content{
    width:1100px;
    height:1600;
    padding:10px;
	margin:auto;
	text-align:center;
}
.content header
{
	 float:left;
	 width: 1000px;
	 height: 50px;
	 margin-bottom: 20px;
	 border: 0px dashed;
	 display: block;
	 list-style:none;
}
.menu
{
	float:left;
	 width: 1000px;
	 height: 50px;
	 margin-bottom: 70px;
	 padding: 5px 5px 5px 0px;
	 border: 0px dashed;
	 display: block;
	 list-style:none;
}
.content h1
{
	color:red;
	text-shadow: 2px 2px 7px white;
}
.background-menu a
{
	color:white;
	text-decoration:none;
}
.footer a
{
	color:red;
	text-decoration:none;
}
.article a
{
	color:black;
	text-decoration:none;
}
.right-content a
{
	color:red;
	text-decoration:none;
}
.background-menu
{
	background: #f72500; /* Old browsers */
	background: -moz-linear-gradient(top, #f72500 0%, #f45f4b 41%, #ea8377 50%, #ef6758 62%, #e51300 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f72500), color-stop(41%,#f45f4b), color-stop(50%,#ea8377), color-stop(62%,#ef6758), color-stop(100%,#e51300)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f72500 0%,#f45f4b 41%,#ea8377 50%,#ef6758 62%,#e51300 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f72500 0%,#f45f4b 41%,#ea8377 50%,#ef6758 62%,#e51300 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f72500 0%,#f45f4b 41%,#ea8377 50%,#ef6758 62%,#e51300 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f72500 0%,#f45f4b 41%,#ea8377 50%,#ef6758 62%,#e51300 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f72500', endColorstr='#e51300',GradientType=0 ); /* IE6-9 */
	width:1000px;
	height:30px;
	margin-top:50px;
	padding-top:10px;
	text-align: center;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-webkit-box-shadow: 2px 2px 7px 2px #6666CC;
	-moz-box-shadow: 2px 2px 7px 2px #6666CC;
	border-radius:10px;
}
.background-menu ul
{
	display:inline;
}
.background-menu li
{
	display:inline;
	padding:0px 20px 0px 20px;
	float:center;
}
.dropdown{
	overflow:hidden;
	position:absolute;
	color:#fff;
	width:70px;
	height:0px;
	-webkit-transition-property: overflow,height;
  	-webkit-transition-duration: 0.5s;
  	-webkit-transition-timing-function: ease-in;
	margin:30px 0px -40px -80px;
	font-weight:normal;
}

.dropdown ul{
	padding:0;
}

.dropdown li{
	list-style:none;
}

.dropdown a{
	display:block;
	border-width: 100%;
	margin:-15px -27px 0px -73px;
}

.dropdown li a:hover{
	list-style:none;
}

.dropdown-main:hover .dropdown{
	display:block;
	position:absolute;
	background: #f72500; /* Old browsers */
	background: -moz-linear-gradient(top, #f72500 0%, #f45f4b 41%, #ea8377 50%, #ef6758 62%, #e51300 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f72500), color-stop(41%,#f45f4b), color-stop(50%,#ea8377), color-stop(62%,#ef6758), color-stop(100%,#e51300)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f72500 0%,#f45f4b 41%,#ea8377 50%,#ef6758 62%,#e51300 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f72500 0%,#f45f4b 41%,#ea8377 50%,#ef6758 62%,#e51300 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f72500 0%,#f45f4b 41%,#ea8377 50%,#ef6758 62%,#e51300 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f72500 0%,#f45f4b 41%,#ea8377 50%,#ef6758 62%,#e51300 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f72500', endColorstr='#e51300',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-webkit-box-shadow: 2px 2px 7px 2px #6666CC;
	-moz-box-shadow: 2px 2px 7px 2px #6666CC;
	border-radius:10px;
	height:127px;
}
.left-content
{
	float:left;
	width:670px;
	height:1000px;
}
.right-content
{
	float:right;
	background-color:#E8E8E8;
	width:300px;
	height:500px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-webkit-box-shadow: 2px 2px 7px 2px #6666CC;
	-moz-box-shadow: 2px 2px 7px 2px #6666CC;
	border-radius:10px;
}
.body
{
	margin-bottom:380px;
	width:1000px;
    height:900px;
}
.footer
{
	width:1030px;
	height:350px;
}
.article
{
	width:670px;
	height:300px;
	background-color:#E8E8E8;
	margin-bottom:50px;
	padding-top:17px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-webkit-box-shadow: 2px 2px 7px 2px #6666CC;
	-moz-box-shadow: 2px 2px 7px 2px #6666CC;
	border-radius:10px;
}
#comment-1
{
	float:left;
	width:300px;
	height:300px;
	margin-top:25px;
	background-color:#E8E8E8;
	margin-left:20px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-webkit-box-shadow: 2px 2px 7px 2px #6666CC;
	-moz-box-shadow: 2px 2px 7px 2px #6666CC;
	border-radius:10px;
}
#comment-2
{
	float:left;
	margin-left:50px;
	margin-top:25px;
	width:300px;
	height:300px;
	background-color:#E8E8E8;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-webkit-box-shadow: 2px 2px 7px 2px #6666CC;
	-moz-box-shadow: 2px 2px 7px 2px #6666CC;
	border-radius:10px;
}
#about
{
	float:right;
	width:300px;
	background-color:#E8E8E8;
	height:250px;
	margin-top:25px;
	margin-right:20px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-webkit-box-shadow: 2px 2px 7px 2px #6666CC;
	-moz-box-shadow: 2px 2px 7px 2px #6666CC;
	border-radius:10px;
}
.head-art
{
	background-color: #33CC00;
	width:600px;
	height:30px;
	margin:auto;
	margin-top:auto;
	padding-top:15px;
	
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-webkit-box-shadow: 2px 2px 7px 2px #6666CC;
	-moz-box-shadow: 2px 2px 7px 2px #6666CC;
	border-radius:10px;
}
.head-art-calendar
{
	background-color: #339900;
	width:80px;
	height:38px;
	margin-top:-15px;
	padding-bottom:7px;
	border-radius:10px 0px 0px 10px;
	border-right:2px solid black;
	float:left;
}
.head-art h2
{
	float:left;
	margin-top:-8px;
	margin-left:3px;
	color:White;
}
.head-art h3
{
	color:White;
}
.head-art h4
{
	color:White;
	margin: -25px 0px 0px 35px;
	padding: -10px 0px -10px 0px;
	float:left;
}
.head-art h5
{
	color:White;
	-webkit-transform: rotate(-90deg);
	margin:13px 55px 0px 0px;
	float:left;
}
.head-art h6
{
	color:white;
}
.head-art-comment
{
	background-color: #339900;
	width:80px;
	height:45px;
	margin-top:-15px;
	border-radius:10px;
	float:right;
}
.main
{
	text-align:justify;
	padding:10px 25px 0px 25px;
}
.p-foot
{
	text-align:left;
}
.article-footer
{
	background:white;
	padding:0px 25px 0px 25px;
}
.writter
{
	float:left;
}
.read
{
	margin-top:20px;
	float:right;
	background-color: red;
	width:130px;
	height:30px;
	border-radius:0px 15px 15px 0px;
}
.read-more
{
	margin-top:20px;
	float:right;
	background-color:#E8E8E8;
	width:40px;
	height:30px;
	margin-right:-10px;
	-webkit-transition-property: padding-left;
  	-webkit-transition-duration: 1s;
  	-webkit-transition-timing-function: ease;
	border-radius:0px 15px 15px 0px;
}
.cr
{
margin:2px 10px 8px 5px;
color:white;
}
.heads
{
	background-color:#33CC00;
	width:270px;
	height:30px;
	margin: 20px 20px 18px 15px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-webkit-box-shadow: 2px 2px 7px 2px #6666CC;
	-moz-box-shadow: 2px 2px 7px 2px #6666CC;
	border-radius:10px;
}
.heads h3
{
	color:white;
	text-align:left;
	margin-left:15px;
}
.com
{
	text-align:left;
	margin-left:10px;
}
.auth
{
	text-align:right;
	margin-right:10px;
	margin-left:10px;
	border-bottom:1px solid black;
}
.left
{
	text-align:left;
	margin-right:10px;
	margin-left:10px;
	border-bottom:1px solid black;
}
.lefto
{
	text-align:left;
	margin-top:-10px;
	margin-right:20px;
	margin-left:20px;
	border-bottom:1px solid black;
}
.leftos
{
	text-align:left;
	float:left;
	margin-left:20px;
	margin-top:-10px;
}
.headst
{
	background-color:white;
	width:270px;
	height:30px;
	margin: 20px 20px 18px 15px;
	border-radius:10px;
}
.headst-left
{
	float:left;
	background-color:#66CCFF;
	width:70px;
	height:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-webkit-box-shadow: 2px 2px 7px 2px #6666CC;
	-moz-box-shadow: 2px 2px 7px 2px #6666CC;
	border-radius:10px;
}
.headst-lefts
{
	float:left;
	background-color:#FF9933;
	width:70px;
	height:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-webkit-box-shadow: 2px 2px 7px 2px #6666CC;
	-moz-box-shadow: 2px 2px 7px 2px #6666CC;
	border-radius:10px;
}
.red
{
	color:red;
}
.chat
{
	background-color:#00CC00;
	width:270px;
	height:80px;
	margin: 20px 20px 18px 15px;
	border-radius:10px;
}
.chat-left
{
	background-color:#00CC00;
	width:90px;
	height:20px;
	float:left;
	border-radius:0px 0px 50px 0px;
	margin: 14px 20px 18px 15px;
}
.chat-right
{
	background-color:#E8E8E8;
	width:70px;
	height:20px;
	float:left;
	border-radius:0px 0px 50px 0px;
}
#chat
{
	text-align:"justify";
	padding:5px;
}

.zoom:hover{
 	 -webkit-transform: scale(1.2);
	 -webkit-transition-property: scale;
	 -webkit-transition-duration: 2s;
	 -webkit-transition-timing-function: ease;
}
.zooms a:hover{
 	 padding-left:-50px;
	 -webkit-transition-property: padding-left;
	 -webkit-transition-duration: 1s;
	 -webkit-transition-timing-function: ease;
}
.hover a{
	padding-left:2px;
	-webkit-transition-property: padding-left;
  	-webkit-transition-duration: 1s;
  	-webkit-transition-timing-function: ease;
}
.hover a:hover {
	padding-left: 10px;
}
.footer a{
	-webkit-transition-property: border-bottom;
  	-webkit-transition-duration: 1s;
  	-webkit-transition-timing-function: ease;
}
.footer a:hover {
	border-bottom: 1px solid black;
	color:blue;
}
.background-menu a:hover {
	background-color: red;
}
.article a:hover {
	background-color: red;
	color:white;
}
.white
 {
	color:white;
 }
.read {
	width:150px;
	-webkit-transition-property: width;
  	-webkit-transition-duration: 1s;
  	-webkit-transition-timing-function: ease;
}
.read:hover {
	width:180px;
}
