.base{
	 background-color:#f0fcff;
     width:1400px;
	 height:203px;
	}
.basis{
	 background-color:#e6e6e6;
     width:1400px;
	 height:343px;
	}
.basic{
	 background-color:white;
     width:1400px;
	 height:253px;
	}
.test
{
	margin-top:20px;
	float:left;
}
.test input
{
	width:175px;
}
.login
{
	float:right;
	margin-top:10px;
}

.login a
{
	font-size:8pt;
	text-align:right;
	text-decoration:none;
	font-weight:bold;
}
.log
{
	width:220px;
	height:140px;
	background-color:#3aa1da;
	-webkit-border-radius:0px 0px 5px 5px;
	margin-bottom:-200px;
	margin-top:-170px;
}
.login h3
{
	text-align:center;
	color:white;
	padding-top:5px;
}
.login p
{
	font-size:9pt;
	color:white;
	text-align:left;
	padding-left:7px;
	padding-right:7px;
	margin-top:-12px;
	margin-bottom:7px;
}
.test button
{
	background-color:#3aa1da;
	color:white;
}
.login button
{
	background-color:#ffd118;
	margin-left:35px;
}
.notif 
{
	background-color:#ffd118;
	width:900px;
	height:30px;
}
.menu 
{
	background-color:#3aa1da;
	width:1400px;
	height:50px;
}
.notif p
{
	padding-left:5px;
	padding-top:5px;
}
.menu li
{
	float:left;
	list-style:none;
	display:inline;
	border-right:1px dotted white;
	padding-right:17px;
	padding-top:5px;
	padding-left:5px;
}
.menu a
{
	text-decoration:none;
	color:black;
	font-size:13pt;
	
}
.article li
{
	margin-top:8px;
}
.article label
{
	margin-left:8px;
	float:right;
}
.header_right
{
	margin-top:10px;
	background: rgba(76,76,76,1);
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 49%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 97%, rgba(96,96,96,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(49%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(97%, rgba(28,28,28,1)), color-stop(100%, rgba(96,96,96,1)));
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 49%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 97%, rgba(96,96,96,1) 100%);
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 49%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 97%, rgba(96,96,96,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 49%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 97%, rgba(96,96,96,1) 100%);
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 49%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 97%, rgba(96,96,96,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#606060', GradientType=0 );
	width:300px;
	height:300px;
	-webkit-border-radius:10px 10px 10px 10px;
}
.header_right img
{
	margin-top:7px;
	margin-left:7px;
}
.header_right li
{
	margin-top:2px;
}
#heads
{
	display: block;
	color: white;
	line-height: 0px;
	margin-top:-20px;
	font-size:16pt;
	text-align:center;
}
.new
{
	 background-color:#e6e6e6;
     width:290px;
	 height:200px;
	 float:center;
	 display:block;
	 margin-left:5px;
	 margin-top:25px;
}
.more
{
	 background-color:#e6e6e6;
     width:150px;
	 height:25px;
	 float:center;
	 display:block;
	 margin-left:70px;
	 margin-top:13px;
}
.more p
{
	text-align:center;
}
.more a
{
	text-decoration:none;
	color:#199fdc;
	font-weight:bold;
	font-size:12pt;
}
.new ul
{
	margin-top:-35px;
}
.new li
{
	list-style:none;
	padding:7px 3px 5px 0px;
	border-bottom:1px dotted black;
	width:245px;
}
.new label
{
	font-weight:bold;
	margin-right:5px;
	margin-left:-5px;
}
.new a
{
	text-decoration:none;
	color:#199fdc;
}



.footer
{
	border:2px solid #199fdc;
	width:100px;
	height:200px;
	margin-right:0px;
	-webkit-border-radius:10px 10px 10px 10px;
}
.footer h2{
    margin: 0px;
    padding: 10px;
    float: left;
    font-size: 20px;
    color:#00a2ff;
	float:left;
}
.footer img
{
	float:right;
	padding:2px;
	
}
.footer p
{
	float:left;
	border-top:1px solid #00a2ff;
	padding:10px;
	
}
.foot-print
{
	background-color:#464646;
	width:1400px;
	height:40px;
	margin-top:-35px;
}
.foot-print label
{
	color:white;
	padding:3px;
	margin-top:3px;
}
.foot-print li
{
	list-style:none;
	display:inline;
	border-right:1px solid white;
	-webkit-border-width:0px;
	margin-left:-3px;
	padding:7px;
	padding:5px;
}
.menu a:hover
{
	color:white;
}
.more a:hover
{
	text-decoration:underline;
}
.new a:hover
{
	text-decoration:underline;
}
.omega
{
	float:right;
}
article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }
.logos
{
	margin-left:275px;
	background:url('../images/image.png');
}
.logo
{
	margin-left:240px;
	background:url('../images/image.png');
	margin-top:5px;
}
.twit{
    background:url('../images/_social.jpg') -140px 0 no-repeat;
}
.twit{
    left:63px;
    width:140px;
    height: 35px;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}
.fb{
    background:url('../images/_social.jpg') 0 0 no-repeat;
}
.fb{
    left:0px;
    width:140px;
    height: 35px;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}