#content
{
	width:1000px;
	height:100%;
	background-color:blue;
	padding:10px;
	text-align:center;
	margin:auto;
}
#header
{
	background-color=white;
}
#logo
{
	background-color:yellow;
	float:left;
	padding-bottom:3px;
}
#curlang
{
	background-color:pink;
	float:right;
	padding:23px;
	width:auto;
	height:auto;
}
#menu
{
	background-color:purple;
	width:100%;
	height:10%;
	float:left;
}
#left-side
{
	background-color:white;
	width:28%;
	height:70%;
	float:left;
}
#right-side
{
	background-color:orange;
	width:70%;
	height:70%;
	float:right;
}
#loginhead
{
	border:1px solid black;
}
#loginform
{
	border:1px solid black;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}
#head-category
{
	border:1px solid black;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}
#about
{
	border:1px solid black;
	text-align:center;
	width:100%;
	height:27%;
	background-color:red;
}
#afterabout
{
float:left;
background-color:#EEE;
margin:auto;
width:100%;
}
#featured
{
	float:left;
}
#featured-button
{
	float:right;
}
.produk{
    width:160px;
    height:210px;
    border: 3px solid #EEE;
    float:left;
    margin:3px;
    padding:1px;
}