#content{
    width:950px;
    height:100%;
    padding:10px;
	margin:auto;
	text-align:center;
}
#category{
    width:100%;
	float:left;
}
#langCurr{
    background: #333;
    float:right;
    padding:15px;
    padding-left:50px;
    padding-right:50px;
}
#menu{
    float:left;
    width:890px;
	padding:30px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	
	
}
#left-content{
    float:left;
    width:25%;
    text-align: left;
}
.latest{
    text-align: center;
}
.lates{
    text-align: justify;
	padding-top:5px;
	padding-bottom:20px;
	border-bottom: 2px dotted #555;
}
.hlatest{
	border:3px solid #EEE;
}
#right-content{
    float:left;
    width:70%;
    text-align: left;
    padding:20px;
}

#footer-menu{
    float:left;
    width:100%;
	text-align:0;
	float:right;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bdb3bd), color-stop(1, #332b33) );
	background:-moz-linear-gradient( center top, #bdb3bd 5%, #332b33 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdb3bd', endColorstr='#332b33');
	background-color:#bdb3bd;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	padding:10px;
}
#copyright{
    float:left;
    width:100%;
	padding-top:3px;
	color:#00CCFF;
}
.product1{
    list-style: none;
    padding-left:4px;
	
   
}
.product{
    list-style: none;
    padding-left:10px;
	
   
}
div#category ul{
	list-style-image:url('unduhan.jpg');
}
div#category li{
    border-bottom: 2px dotted #555;
    list-style-position:inside;
	margin:0;
	padding-left:0px;
	
}

.produk{
    width:145px;
    height:200px;
    border: 3px solid #EEE;
    float:left;
    margin:3px;
    padding:1px;
}
#login{
    border: 3px solid #EEE;
	margin:3px;
    padding:1px;
	float:left;
	max-width: 100%;
    }
.left {
    max-width: 100%;
    background:red;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    float: left;
}
.right {
    background:yellow;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    text-align: right;
}
.container {
    width: 600px;
}
.FBLabel, .FBInput {
    display:block;
    width:50%;
    float:left;
    margin-bottom:4px;
}
.kepala3{
border: 3px solid #EEE;
text-align: center;
}
#form3{
border: 3px solid #EEE;
float: left;
padding:10px;
}
#p-main{
text-align: justify;
}
.blue{
color:#00CCFF;
}
.butt{
text-decoration:none;
background-color:#00CCFF;
color:white;
}
.but{
float: right;
}
.white{
color:white;
}
#logo{
float:left;
}
#top 
{
list-style-type:none;
margin:0;
padding:0;
text-align=center;
}
ul#top li
{
display:inline;
float:left;
}

ul#top a
{
display:block;
width:130px;
text-decoration:none;
color:black;
font-weight:bold;
border-right:1px solid black;
}
#bottom 
{
list-style-type:none;
margin:0;
padding:0;
text-align=center;

}
ul#bottom li
{
display:inline;
float:left;
text-align:center;
}

ul#bottom a
{
text-decoration:none;
display:block;
width:130px;
width:185px;
border-right:1px solid black;
color:white;
}
ul#bottom a:link {
color:white;
}
ul#bottom a:visited {
color:white;
}
ul#bottom a:hover 
{
color:#00CCFF;
}
li#excepts a:hover 
{
color:#00CCFF;
} 
ul#bottom a:active 
{
color:#0000FF;
}
ul#top a:hover 
{
color:#00CCFF;
}
#except
{
text-decoration:none;
display:block;
color:white;
}
#excepts
{
list-style-type:none;
}
.last
{
 float:left;
 width:100%;
 border:3px solid #EEE;
}
ul.product a
{
text-decoration:none;
display:block;
}
ul.product a:hover
{
color:red;
}
