body {
  text-align: center;
}

.kotak {
  margin-top: 5px;
  padding-top: 5px;
  text-align: left;
  background: white;
  margin-bottom: 5px;
}
.base {
  margin-top: 20px;
  padding-top: 15px;
  text-align: left;
  background: white;
  margin-bottom: 20px;
}
.base p {
  margin-top: -20px;
  margin-bottom: -5px;
  padding-top: 0px;
  text-align: left;
  background: white;
}
.article {
  background: white;
  margin-bottom: -5px;
}
.article img{
  background: white;
  float:left;
  padding:5px 5px 0px 5px;
}
.article p{
  text-align:left;
  padding:5px 5px 0px 5px;
  margin-left:5px;
}
.article label{
	color:#D0D0D0;
	float:right;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:10px;
	border-bottom:1px solid black;
	width:300px;
	text-align:right;
}
.article h4{
	padding-left:10px;
	margin-bottom:-7px;
	text-align:left;
	margin-top:12px;
}
.article h5{
	float:left;
	padding-left:10px;
	padding-top:8px;
	width:610px;
	border-bottom:1px solid black;
	text-align:left;
	margin-bottom:10px;
}
#date{
	margin-bottom:3px;
}
header
{
	height:50px;
}
.heads
{
	zoom:1.1;
  	float: right;
	padding-top:90px;
	padding-left:10px;
}
.menu ul
{
	display:inline;
}
.menu li
{
	display:inline;
	border-right:1px solid black;
	float:right;
}
.menu label
{
	margin-right:15px;
}
.rm
{
	width:620px;
	height:40px;
	background:black;
}
.article a
{
	text-decoration:none;
	color:#D0D0D0;
}
#special
{
	float:left;
	padding-left:10px;
	padding-top:19px;
	width:300px;
	border-bottom:1px solid black;
	text-align:left;
	margin-bottom:10px;
}
#last
{
	width:960px;
	border-bottom:1px solid black;
	margin-bottom:10px;	
}
#menu
{
	text-align:right;
}
#menu a
{
	text-decoration:none;
	color:black;
	margin-bottom:5px;
}
#cpr
{
	margin-top:70px;
	margin-left:-5px;
}
.menu li:hover
{
	background-color:#eee;
}
#menu a:hover
{
	background-color:#eee;
}